.App {
	text-align: center;
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	.pass {
		color: green;
	}
	.fail {
    color: red;
  }
	.main {
		display: flex;
		justify-content: space-between;
	}
	.input {
		width: 50px;
		outline: none !important;
		// border: 0;
	}
}
