.App {
	text-align: center;
	height: 100vh;
	position: fixed;
	top: 100px;
	right: 25vw;
	.pass {
		color: green;
	}
	.fail {
		color: red;
	}
	.input {
		width: 80px;
		outline: none !important;
	}
}
