.App {
	text-align: center;
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;

	.pass {
		color: green;
	}
	.fail {
		color: red;
	}
	.input {
		width: 80px;
		outline: none !important;
	}
}
